<!DOCTYPE html>
<html lang="en-us">
	
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	
    <meta name="robots" content="Index,Follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
    <title>EB5</title>
    <link rel="canonical" href="http://www.nyeb5fund.com">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="immigration, visa, green card, citizenship, EB-5, E-2, F-1, L-1, investor" >
    <meta name="description" content="The mission of W. 108th Street EB-5 Lender, LLC is to introduce foreign accredited investors to a superior opportunity to obtain US citizenship and generate asset growth while promoting job creation in New York City and the US.">

    <!--FACEBOOK-->
    <meta property="og:title" content="NY EB5 Fund" >
    <meta property="og:site_name" content="NY EB5 Fund">
    <meta property="og:url" content="http://www.nyeb5fund.com" >
    <meta property="og:description" content="The mission of W. 108th Street EB-5 Lender, LLC is to introduce foreign accredited investors to a superior opportunity to obtain US citizenship and generate asset growth while promoting job creation in New York City and the US." >
    <meta property="og:image" content="/images/share-image.png" >
    <meta property="og:type" content="website" >
    <meta property="og:locale" content="en_US" >

    <!--TWITTER-->
    <meta property="twitter:card" content="summary" >
    <meta property="twitter:title" content="NY EB5 Fund" >
    <meta property="twitter:description" content="The mission of W. 108th Street EB-5 Lender, LLC is to introduce foreign accredited investors to a superior opportunity to obtain US citizenship and generate asset growth while promoting job creation in New York City and the US." >
    <!--<meta property="twitter:creator" content="@hellovelocity" >-->
    <meta property="twitter:url" content="http://www.nyeb5fund.com" >
    <meta property="twitter:image" content="/images/share-image.png" >

		<!-- add bootstrap stylesheets -->
  	<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  	
  	<!-- add google fonts -->
  	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Noto+Serif:400,400i,700" rel="stylesheet">
  
		<!-- add custom stylesheets -->
		<link rel="stylesheet" href="stylesheets/style.css">
		<% if (mobile == "true") { %>
	  <link rel="stylesheet" href="stylesheets/m_style.css">
	  <% } %>
	
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
		
		  ga('create', 'UA-86336203-1', 'auto');
		  ga('send', 'pageview');
		
		  ga('create', 'UA-67426824-4', 'auto', 'hvTracker');
		  ga('hvTracker.send', 'pageview');
				
		</script>
	</head>

	<body>
		<!-- load jquery minified js -->
		<script src="bower_components/jquery/dist/jquery.min.js"></script>
		<!-- load bootstrap minified js -->
		<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		<!-- scroll reveal js -->
	  <script src="bower_components/scrollreveal/dist/scrollreveal.min.js"></script>
	  
		<!-- Navigation Bar -->
		<div class="eb5-nav eb5-bg-black">
			<div class="eb5-relative" style="padding-top:12px;padding-bottom:12px;height:60px;width:100vw;">
				<a href="/"><img class="eb5-inline-block eb5-absolute" src="/images/logo_white.png" height="36" style="left:20px;" alt="NYEB5Fund"></a>
				<div class="eb5-inline-block eb5-absolute" style="right:24px;line-height:36px;">
					<a href="mailto:friend@hellovelocity.com" target="_blank" class="eb5-white">
						<% if (mobile != "true" ) { %>
						<a href="https://www.linkedin.com/company/ny-eb-5-fund"><img src="images/linkedin-icon-white.png" height="36"></a>
						&nbsp;
						&nbsp;
						<% } %>
						<a href="mailto:info@nyeb5fund.com"><img src="images/contact-icon.png" style="line-height:36px;" height="36"></a>
					</a>
				</div>
			</div>
		</div>	
		
		<!-- temrs -->
		<div class="eb5-section container">
			<br>
			<br>
			<div class="h4" style="font-weight:800;">NO OFFER TO SELL ANY SECURITY IS MADE BY THIS WEBSITE</div>			
			<div class="" style="margin-top:12px;">
				No offer to sell any security is made by this website. The information on this web site is not an offer to sell or solicitation of an offer to buy an interest in any investment or for the provision of any investment management or advisory services. Any such offer or solicitation will be pursuant to exemptions from registration requirements set out in applicable securities laws and made only by means of delivery of a confidential private offering memorandum relating to a particular investment to qualifed investors in those jurisdictions where permitted by law. This website is a summary only of certain important matters relating to the NY EB-5 Fund (Fund) and W. 108th Street EB-5 Lender LLC (W108) and is qualied in its entirety by the detailed information in the offering materials for particular investments. Prospective investors should take note of the risk factors described therein.
			</div>
			<br>
			<br>
			<div class="h4" style="font-weight:800;">W108 OR THE FUND DOES NOT OFFER LEGAL ADVICE OR SERVICES</div>			
			<div class="" style="margin-top:12px;">
				Neither W108 nor the Fund, nor their employees and members, function as your attorneys or legal counsel and they do not attempt to interpret immigration law for you and do not provide or offer legal advice or legal services to you. A potential investor should seek legal counsel from a private immigration attorney of their choice. Both W108 and the Fund are business enterprises providing certain introductions and services to prospective foreign investors, and are not authorized to provide investment advice. Neither W108 nor the Fund shall be responsible for the success or failure of any investment they offer or any consequential profit or loss or expense that may arise directly or indirectly from such investment, whether or not such investment is used for immigration purposes, or for compliance with United States Citizenship and Immigration Service requirements.
			</div>
			<br>
			<br>
			<div class="h4" style="font-weight:800;">REGARDING LINKS FROM THIS SITE</div>			
			<div class="" style="margin-top:12px;">
				The Fund has not reviewed unaffiliated sites linked to this site, if any, and is not responsible for the content of off-site pages or any other site linked or linking to the site. Your linking to any off-site pages or other sites is at your own risk. The Fund makes no representations whatsoever about the opinions of any third party appearing on a linked site, neither regularly monitors nor has control over the contents of such sites, and does not endorse, and disclaims all responsibility for, the content of such statements or web sites. 
			</div>
			<br>
			<br>
			<div class="h4" style="font-weight:800;">ELECTRONIC COMMUNICATIONS</div>			
			<div class="" style="margin-top:12px;">
				Visiting <a target="_blank" href="http://www.nyeb5fund.com/">http://www.nyeb5fund.com/</a> or sending emails to the Fund constitutes electronic communications. You consent to receive electronic communications and you agree that all agreements, notices, disclosures and other communications that we provide to you electronically, via email and on the website, satisfy any legal requirement that such communications be in writing. The Fund does not knowingly collect, either online or offine, personal information from persons under the age of thirteen. If you are under 18, you may use <a target="_blank" href="http://www.nyeb5fund.com/">http://www.nyeb5fund.com/</a> only with permission of a parent or guardian. 
			</div>
			<br>
			<br>
			<div class="h4" style="font-weight:800;">NO UNLAWFUL OR PROHIBITED USE/INTELLECTUAL PROPERTY</div>			
			<div class="" style="margin-top:12px;">
				You are granted a non-exclusive, non-transferable, revocable license to access and use <a href="http://www.nyeb5fund.com/" target="_blank">http://www.nyeb5fund.com/</a> strictly in accordance with these terms of use. As a condition of your use of the website, you warrant to the Fund that you will not use the website for any purpose that is unlawful or prohibited by these Terms. You may not use the website in any manner which could damage, disable, overburden, or impair the website or interfere with any other party’s use and enjoyment of the website. You may not obtain or attempt to obtain any materials or information through any means not intentionally made available or provided for through the website. All content included as part of the website, such as text, graphics, logos, images, as well as the compilation thereof, and any software used on the website, is the property of the Fund or its suppliers and protected by copyright and other laws that protect intellectual property and proprietary rights. You agree to observe and abide by all copyright and other proprietary notices, legends or other restrictions contained in any such content and will not make any changes thereto. 
			</div>
			<br>
			<br>
			<div class="h4" style="font-weight:800;">INTERNATIONAL USERS</div>			
			<div class="" style="margin-top:12px;">
				The website is controlled, operated and administered by the Fund from our offices within the USA. If you access the website from a location outside the USA, you are responsible for compliance with all local laws. You agree that you will not use the Fund Content accessed through <a href="http://www.nyeb5fund.com/" target="_blank">http://www.nyeb5fund.com/</a> in any country or in any manner prohibited by any applicable laws, restrictions or regulations.
			</div>
			<br>
			<br>
			<div class="h4" style="font-weight:800;">CHANGES TO TERMS</div>			
			<div class="" style="margin-top:12px;">
				The Fund reserves the right, in its sole discretion, to change the Terms under which <a href="http://www.nyeb5fund.com/" target="_blank">http://www.nyeb5fund.com/</a> is offered. The most current version of the Terms will supersede all previous versions. The Fund encourages you to periodically review the Terms to stay informed of our updates.
			</div>
			<br>
			<br>
			<div class="" style="width:100%;text-align:center;"><a href="/" style="font-weight:700">back</a></div>
		</div>
		
		<!-- Footer -->	
		<div class="eb5-bg-light-gray" style="
			text-align: center;
			border-top: 2px solid #ccc;">
			<br>
			<br>
			<% if (mobile == "true") { %>
			<img src="images/footer_logo.png" style="height:60px;" alt="NYEB5Fund">
			<% } else { %>
			<img src="images/footer_logo.png" style="height:90px;" alt="NYEB5Fund">
			<% } %>
			<br>
			<br>
			<div class="" style="font-size:12px;">
				For supplemental and additional Disclaimers, please click <a href="/terms">here</a>.
			</div>
			<div class="" style="font-size:12px;">
				2016 © W. 108th Street EB-5 Lender, LLC. All rights reserved.
			</div>
			<br>
			<% if (mobile == "true") { %>
			<br>
			<a target="_blank" href="https://www.linkedin.com/company/ny-eb-5-fund"><img src="images/linkedin-icon.png" width="30"></a>
			<br>
			<% } %>
			<br>
			<br>
		</div>
	</body>
	
	<script src="/js/index.js"></script>

</html>

