/* --------------------------
   -- PRESET ELEMENTS
   -------------------------- */
body {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-weight: 300;
  font-size: 16px;
  min-height: 100vw;
  min-width: 100vw;
  overflow-x: hidden;
  transition: background-color .5s ease-in-out;
}   
.h1, .h2, .h3, .h4 {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  margin: 0px !important;
  font-weight: 300;
}
.title {
  z-index: 100;
}
.slide {
  z-index: 0;
}
.slides,
.titles {
  position: relative;
}
.slide,
.title {
  position:fixed;
  width: 100vw;
  height: 100vh;
  transition: color .5s ease-in-out;
}
.slide-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  background-color: black;
  width: 50px;
  height: 50px;
}
.title-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 200px;
  text-align: center;
}
.horizontal-right,
.horizontal-left {
  z-index: -1;
}

.navigation {
  z-index: 200;
  width: 50vh;
  height: 50vh;
  position: fixed;
  left: 50vw;
  top: 50vh;
  margin-top: calc(-25vh);
  margin-left: calc(-25vh);
  /* transform: translateX(-50%) translateY(-50%); */
  border: 2px solid black;

  /* set transform origin */
  -webkit-transform-origin: 50% 50%; -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  
  /* set transition animation */
  -webkit-transition: all 0.5s ease-out;  /* Chrome 1-25, Safari 3.2+ */
     -moz-transition: all 0.5s ease-out;  /* Firefox 4-15 */
       -o-transition: all 0.5s ease-out;  /* Opera 10.50–12.00 */
          transition: all 0.5s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.50+ */
  
}
.navigation-rotate-0 {
  -webkit-transform: rotate(0deg);  /* Chrome, Safari 3.1+ */
     -moz-transform: rotate(0deg);  /* Firefox 3.5-15 */
      -ms-transform: rotate(0deg);  /* IE 9 */
       -o-transform: rotate(0deg);  /* Opera 10.50-12.00 */
          transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera 12.50+ */
}
.navigation-rotate-90 {
  -webkit-transform: rotate(-90deg);  /* Chrome, Safari 3.1+ */
     -moz-transform: rotate(-90deg);  /* Firefox 3.5-15 */
      -ms-transform: rotate(-90deg);  /* IE 9 */
       -o-transform: rotate(-90deg);  /* Opera 10.50-12.00 */
          transform: rotate(-90deg);  /* Firefox 16+, IE 10+, Opera 12.50+ */
}
.navigation-rotate-180 {
  -webkit-transform: rotate(-180deg);  /* Chrome, Safari 3.1+ */
     -moz-transform: rotate(-180deg);  /* Firefox 3.5-15 */
      -ms-transform: rotate(-180deg);  /* IE 9 */
       -o-transform: rotate(-180deg);  /* Opera 10.50-12.00 */
          transform: rotate(-180deg);  /* Firefox 16+, IE 10+, Opera 12.50+ */
}
.navigation-rotate-270 {
  -webkit-transform: rotate(-270deg);  /* Chrome, Safari 3.1+ */
     -moz-transform: rotate(-270deg);  /* Firefox 3.5-15 */
      -ms-transform: rotate(-270deg);  /* IE 9 */
       -o-transform: rotate(-270deg);  /* Opera 10.50-12.00 */
          transform: rotate(-270deg);  /* Firefox 16+, IE 10+, Opera 12.50+ */
}

.nav-el {
  cursor: pointer;  
}
.nav-el-top {
  margin-left: -30px;
  display: inline-block;
  position: absolute;
  margin-top: -30px;
  left: 50%; 
}
.nav-el-right{
  margin-right: -40px;
  display: inline-block;
  top: 50%;
  position: absolute;
  margin-top: -10px;
  right: 0;
}
.nav-el-bottom {
  margin-left: -30px;
  display: inline-block;
  top: 100%;
  position: absolute;
  margin-top: 10px;
  left: 50%;
}
.nav-el-left {
  margin-left: -50px;
  display: inline-block;
  top: 50%;
  position: absolute;
  margin-top: -10px;
}

.rotate90 {
  -webkit-transform: rotate(90deg); /* Safari */
  -moz-transform: rotate(90deg); /* Firefox */
  -ms-transform: rotate(90deg); /* IE */
  -o-transform: rotate(90deg); /* Opera */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1); /* Internet Explorer */
}
.rotate180 {
  -webkit-transform: rotate(180deg); /* Safari */
  -moz-transform: rotate(180deg); /* Firefox */
  -ms-transform: rotate(180deg); /* IE */
  -o-transform: rotate(180deg); /* Opera */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2); /* Internet Explorer */
}
.rotate270 {
  -webkit-transform: rotate(-90deg); /* Safari */
  -moz-transform: rotate(-90deg); /* Firefox */
  -ms-transform: rotate(-90deg); /* IE */
  -o-transform: rotate(-90deg); /* Opera */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); /* Internet Explorer */
}

/*
#one {
  background-color: red;
}
#two {
  background-color: yellow;
}
#three {
  background-color: blue;
}
#four {
  background-color: orange;
}
#five {
  background-color: pink;
}
#six {
  background-color: green;
}
#seven {
  background-color: purple;
}
#eight {
  background-color: teal;
}
*/
